<!DOCTYPE html>
<html>
<head>
	<title>User Manager</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

	<style>
		.margin-top-20 {
			margin-top:20px;
		}
	</style>
</head>
<body>

<div class="container">
	<div class="margin-top-20">
		<a href="/add" class="btn btn-primary">Add New User</a>
	</div>
	<table class="table striped margin-top-20">
		<thead>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Age</th>
			<th>Username</th>
			<th>Action</th>
		</thead>
		<tbody>
			<tr>
				<td>Arun</td>
				<td>Sood</td>
				<td>27</td>
				<td>arsood</td>
				<td><a href="#" class="btn btn-primary">Edit User</a></td>
			</tr>
			<tr>
				<td>Arun</td>
				<td>Sood</td>
				<td>27</td>
				<td>arsood</td>
				<td><a href="#" class="btn btn-primary">Edit User</a></td>
			</tr>
			<tr>
				<td>Arun</td>
				<td>Sood</td>
				<td>27</td>
				<td>arsood</td>
				<td><a href="#" class="btn btn-primary">Edit User</a></td>
			</tr>
		</tbody>
	</table>
</div>

<script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

</body>
</html>